@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family:Poppins;
  src:url('./assets/Poppins-Regular.ttf')
}
@font-face{
  font-family:Poppins-bold;
  src:url('./assets/Poppins-Bold.ttf')
}

.boldFont{
  font-family:Poppins-bold;
}

* {
  font-family:Poppins;
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
